<div class="shift">
    <form action="/">
        <h1>Contact Us</h1>
        <div class="info">
            <input class="fname" type="text" name="name" placeholder="first name">
            <input class="fname" type="text" name="name" placeholder="last name">
            <input type="text" name="name" placeholder="DOB">
            <input type="text" name="name" placeholder="Email">
            <input type="text" name="name" placeholder="password">
            <input type="text" name="name" placeholder="Phone number">
            
        </div>
        <h3>ADDRESS</h3>
        <div>
            <textarea rows="4"></textarea>
        </div>
        <button type="submit" href="/">Submit</button>
    </form>
</div>